.People {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    max-width: 320px;
    padding: 5px 10px;
    background-color: $orange;
    @include breakpoint(960) {
        width: 26%;
    }
    @include breakpoint(768) {
        display: none;
    }
    .person-img {
        border-radius: 50%;
        overflow: hidden;
        margin-right: 8px;
        img {
            min-width: 50px;
        }
    }
    .person-info {
        font-family: $varella;
        text-align: center;
        .person-name {
            font-size: 13px;
        }
        .earnings {
            strong {
                font-size: 32px;
                color: #333;
            }
        }
    }
}
