.BottomSection {
    .about {
        padding: 20px 0;
        .container {
            .wrapper-flex {
                display: flex;
                align-items: center;
                .img {
                    margin-right: 30px;
                    img {
                        max-width: 565px;
                        border-radius: 6px;
                    }
                }
                .description {
                    h3 {
                        font-size: 30px;
                        color: $orange;
                    }
                    p {
                        font-size: 18px;
                        .blue {
                            color: #0c5275;
                        }
                    }
                    .steve-sign {
                        margin-top: 10px;
                        img {
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }
    .get-access-form {
        padding: 55px 0;
        background-color: #0c5275;
        .container {
            .Regform {
                background: transparent;
                .inner {
                    .heading {
                        display: none;
                    }
                }
            }
        }
    }
    footer {
        padding: 45px 0;
        background-color: #031522;
        .container {
            text-align: center;
            h4 {
                font-size: 15px;
                color: rgba(255, 255, 255, 0.57);
            }
            p {
                font-size: 11px;
                line-height: 1.45;
                color: rgba(255, 255, 255, 0.57);
            }
        }
    }
}